In [1]:
import pandas as pd
import numpy as np


df=pd.read_csv('businesses_reviews.csv')

# Assuming 'df' is your DataFrame and 'business_id' is the column with business IDs
df = df.drop_duplicates(subset='business_id', keep='first')

In [2]:
# Function to extract attribute options
def extract_columns(row):
    try:
        data_dict = eval(row['attributes'])
        return data_dict
    except:
        return {}

# Apply the function to create new columns
df = pd.concat([df, df.apply(extract_columns, axis=1, result_type='expand')], axis=1)



# Function to extract meal options
def extract_meal_options(row):
    try:
        meal_options_dict = eval(row['GoodForMeal'].replace("'", '"'))
        return pd.Series(meal_options_dict)
    except:
        return pd.Series({})

# Apply the function to create new columns
meal_options = df.apply(extract_meal_options, axis=1)

# Add the new columns to the DataFrame
df = pd.concat([df, meal_options], axis=1)




# Function to extract start and end times for each day
# Function to extract columns from the JSON-like string
def extract_hours(row):
    try:
        data_dict = eval(row['hours'])
        return data_dict
    except:
        return {}

# Apply the function to create new columns
df = pd.concat([df, df.apply(extract_hours, axis=1, result_type='expand')], axis=1)



# Function to extract parking options
def extract_parking_options(row):
    try:
        parking_options_dict = eval(row['BusinessParking'].replace("'", '"'))
        return pd.Series(parking_options_dict)
    except:
        return pd.Series({})

# Apply the function to create new columns
parking_options = df.apply(extract_parking_options, axis=1)

# Add the new columns to the DataFrame
df = pd.concat([df, parking_options], axis=1)


df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,Wednesday,Thursday,Friday,Saturday,Sunday,garage,lot,street,valet,validated
0,0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
114,114,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,2038 N Dale Mabry Hwy,Tampa,FL,33607,27.960514,-82.506127,4.0,...,11:0-22:0,11:0-22:0,11:0-3:0,11:0-3:0,NaN,False,True,False,False,False
151,151,anLQj9AM8vjbcLSIE0iUgg,Papa Murphy's,"7250 North La Cholla, Suite 186",Tucson,AZ,85741,32.338572,-111.010760,4.0,...,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
173,173,59jkCUm4yHciKL1KW_1HJA,Roma Pizza & Italian Eatery,1103 Main St,Warrington,PA,18976,40.229527,-75.131090,2.5,...,10:0-22:0,10:0-22:0,10:0-23:0,10:0-23:0,11:0-22:0,False,False,False,False,False
200,200,uyc-S7lauYjzouYQ2TM76A,Papa John's Pizza,9817 W Florissant Ave,Saint Louis,MO,63136,38.746159,-90.279815,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
to_drop=['attributes', 'Ambience', 'hours', 'GoodForMeal', 'BusinessParking',
         'Unnamed: 0','useful', 'stars_y','categories','date','is_open','funny','cool',
         'RestaurantsTableService','HappyHour','DogsAllowed','BusinessAcceptsBitcoin','BYOB','Corkage',
        'ByAppointmentOnly','BYOBCorkage','DriveThru','Open24Hours','Smoking', 'categories','stars_y','breakfast']

df = df.drop(to_drop, axis=1)
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,Wednesday,Thursday,Friday,Saturday,Sunday,garage,lot,street,valet,validated
0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,11:0-0:0,11:0-0:0,11:0-1:0,11:0-1:0,11:0-0:0,False,True,True,False,False
114,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,2038 N Dale Mabry Hwy,Tampa,FL,33607,27.960514,-82.506127,4.0,35,...,11:0-22:0,11:0-22:0,11:0-3:0,11:0-3:0,NaN,False,True,False,False,False
151,anLQj9AM8vjbcLSIE0iUgg,Papa Murphy's,"7250 North La Cholla, Suite 186",Tucson,AZ,85741,32.338572,-111.010760,4.0,22,...,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
173,59jkCUm4yHciKL1KW_1HJA,Roma Pizza & Italian Eatery,1103 Main St,Warrington,PA,18976,40.229527,-75.131090,2.5,25,...,10:0-22:0,10:0-22:0,10:0-23:0,10:0-23:0,11:0-22:0,False,False,False,False,False
200,uyc-S7lauYjzouYQ2TM76A,Papa John's Pizza,9817 W Florissant Ave,Saint Louis,MO,63136,38.746159,-90.279815,2.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Remove 'u' and quotes from values
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("u'casual'", "casual")
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("u'formal'", "formal")
df['RestaurantsAttire'] = df['RestaurantsAttire'].str.replace("'", '')


df['Alcohol']=df['Alcohol'].str.replace("u'none'","None")
df['Alcohol']=df['Alcohol'].str.replace("u'beer_and_wine'","beer_and_wine")
df['Alcohol']=df['Alcohol'].str.replace("u'full_bar'","full_bar")
df['Alcohol']=df['Alcohol'].str.replace("'none'","None")
df['Alcohol']=df['Alcohol'].str.replace("'beer_and_wine'","beer_and_wine")
df['Alcohol']=df['Alcohol'].str.replace("'full_bar'","full_bar")


df['NoiseLevel']=df['NoiseLevel'].str.replace("u'average'", "average")     
df['NoiseLevel']=df['NoiseLevel'].str.replace("'average'","average")      
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'quiet'","quiet")        
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'loud'","loud")          
df['NoiseLevel']=df['NoiseLevel'].str.replace("'quiet'","quiet")         
df['NoiseLevel']=df['NoiseLevel'].str.replace("u'very_loud'","very_loud")      
df['NoiseLevel']=df['NoiseLevel'].str.replace("'loud'","loud")           
df['NoiseLevel']=df['NoiseLevel'].str.replace("'very_loud'","very_loud")


df['WiFi']=df['WiFi'].str.replace("u'no'","no")     
df['WiFi']=df['WiFi'].str.replace("u'free'","free")    
df['WiFi']=df['WiFi'].str.replace("'no'","no")        
df['WiFi']=df['WiFi'].str.replace("'free'","free")      
df['WiFi']=df['WiFi'].str.replace("u'paid'","paid")      
df['WiFi']=df['WiFi'].str.replace("'paid'","paid")

In [5]:
#I don't know how to handle the hours. I will drop them for now. 

to_drop=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

df = df.drop(to_drop, axis=1)

In [6]:
pd.set_option('display.max_rows', None)
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df

                                           column_name  percent_missing
business_id                                business_id         0.000000
name                                              name         0.000000
city                                              city         0.000000
state                                            state         0.000000
postal_code                                postal_code         0.000000
latitude                                      latitude         0.000000
longitude                                    longitude         0.000000
stars_x                                        stars_x         0.000000
review_count                              review_count         0.000000
review_id                                    review_id         0.000000
user_id                                        user_id         0.000000
text                                              text         0.000000
address                                        address         0.284414
RestaurantsTakeOut                  RestaurantsTakeOut         5.745165
RestaurantsDelivery                RestaurantsDelivery         7.565415
RestaurantsPriceRange2          RestaurantsPriceRange2        15.642776
BusinessAcceptsCreditCards  BusinessAcceptsCreditCards        16.666667
RestaurantsReservations        RestaurantsReservations        17.406143
GoodForKids                                GoodForKids        19.169511
RestaurantsGoodForGroups      RestaurantsGoodForGroups        19.226394
OutdoorSeating                          OutdoorSeating        22.639363
RestaurantsAttire                    RestaurantsAttire        23.720137
HasTV                                            HasTV        24.175199
valet                                            valet        24.914676
garage                                          garage        26.336746
validated                                    validated        27.019340
lot                                                lot        27.076223
street                                          street        27.872582
Alcohol                                        Alcohol        30.432309
NoiseLevel                                  NoiseLevel        37.827076
WiFi                                              WiFi        43.401593
BikeParking                                BikeParking        45.847554
Caters                                          Caters        49.943117
dinner                                          dinner        64.505119
lunch                                            lunch        64.903299
brunch                                          brunch        66.040956
dessert                                        dessert        66.097838
latenight                                    latenight        67.576792
WheelchairAccessible              WheelchairAccessible        90.614334

In [7]:
city=df['city'].unique()
city

array(['Ardmore', 'Tampa', 'Tucson', 'Warrington', 'Saint Louis',
       'Santa Barbara', 'Florence Township', 'Philadelphia', 'Wilmington',
       'Boise', 'University City', 'Indianapolis', 'Godfrey',
       'Granite City', 'Sherwood Park', 'Cherry Hill', 'West Chester',
       'Broomall', 'Chalfont', 'Ewing Township', 'Blue Bell', 'Aston',
       'Oldsmar', 'Goodlettsville', 'Antioch', 'Edmonton', 'Lansdowne',
       'Brentwood', 'Lansdale', 'Secane', 'Fishers', 'Bryn Mawr',
       'Willingboro', 'Fenton', 'Hudson', 'Nashville', 'Westville',
       'Berlin', 'Sparks', 'Brookhaven', 'Palm Harbor', 'Pottstown',
       'Trinity', 'New Port Richey', 'Morton', 'Greenwood',
       'Conshohocken', 'Clearwater', 'Reno', 'Woodstown',
       'Hendersonville', 'Southport', 'Edwardsville', 'New Orleans',
       'Chester Springs', 'Franklin', 'Meridian', 'Phoenixville',
       'Pinellas Park', 'Royersford', 'Thorndale', 'Mooresville',
       'Oro Valley', 'Williamstown', 'White House', 'East Norriton',
       'PHILA', 'Willow Grove', 'Saint Charles', 'Florissant',
       'Westampton Township', 'Trenton', 'Warminster', 'Bensalem',
       'Seminole', 'Odessa', 'O Fallon', 'Oaks', 'Feasterville Trevose',
       'Mt. Juliet', 'Maryland Heights', 'Avon', 'Temple Terrace',
       'Haddonfield', 'Spring Hill', 'Belle Chasse', 'Upper Darby',
       'Spanish Springs', 'Southampton', 'Plant City', 'Newark',
       'Upper Pittsgrove', 'Sun City Center', 'Maple Shade', 'Bellmawr',
       'Largo', 'Haddon Heights', 'Fort Washington', 'Holiday',
       'Riverview', 'Alton', 'Laurel Springs', 'Norristown', 'Zionsville',
       'Havertown', 'Pennsauken', 'Arnold', 'Saint Petersburg',
       'St. Petersburg', 'Kenner', 'Pitman', 'Exton', 'St. Louis',
       'Runnemede', 'Old Hickory', 'Collegeville', 'Primos', 'Glendora',
       'Land O Lakes', 'Ridley Park', 'Malvern', 'Montgomeryville',
       'Coatesville', 'Cinnaminson', 'Abington', 'Clearwater Beach',
       'Horsham', 'Newtown', 'Jenkintown', 'Woodbury', 'Fairless Hills',
       'Harvey', 'Wayne', 'Levittown', 'Webster Groves', 'Hazelwood',
       'Metairie', 'Plainfield', 'Tabernacle', 'Schwenksville', 'Sewell',
       'Hamilton Township', 'Madison', 'Sicklerville', 'Brandon',
       'Columbus', 'St Louis', 'New Castle', 'Downingtown', 'Lebanon',
       'Silverdale', 'Lithia', 'Voorhees', 'Valrico', 'Narberth', 'Aldan',
       'Wesley Chapel', 'Boyertown', 'Glassboro', 'Hermitage',
       'Drexel Hill', 'St Albert', 'Fairview Heights', 'Harleysville',
       'Bridgeport', 'Camden', 'Tuscon', "O'Fallon", 'Elk Township',
       'Norwood', 'Marcus Hook', 'King of Prussia', 'Chesterbrook',
       'Trevose', 'Folsom', 'Paulsboro', 'Smyrna', 'Swansea', 'Eagle',
       'Seffner', 'Clifton Heights', 'Crum Lynne', 'Medford',
       'Port Richey', 'Dunedin', 'Bridgeton', 'Kennett Square', 'Troy',
       'Collinsville', 'Quakertown', 'Claymont', 'Media', 'Apollo Beach',
       'Somerdale', 'Mount Laurel', 'Isla Vista', 'Swarthmore',
       'Clementon', 'Winslow Township', 'Waterloo', 'Manchester',
       'Washington Township', 'Croydon', 'Carmel', 'Burlington',
       'Vincentown', 'Chesterfield', 'Penndel', 'Sahuarita',
       'Mount Juliet', 'Arabi', 'Tarpon Springs', 'Clayton', 'Malaga',
       'Glenolden', 'Doylestown', 'Souderton', 'McCordsville', 'Hatboro',
       'Hockessin', 'La Vergne', 'Ballwin', 'Bristol', 'Glen Carbon',
       'West Deptford', 'Mantua', 'Ewing', 'Pilesgrove', 'Goleta',
       'New Palestine', "Land O' Lakes", 'Imperial', 'Belleville',
       'Spring City', 'Beech Grove', 'Woodbury Heights', 'Darby',
       'Oaklyn', 'Yardley', 'Affton', 'Erial', 'Folcroft', 'Westwego',
       'Glenside', 'Mount Royal', 'Salem', 'Gibsonton', 'Mullica Hill',
       'Waterford Works', 'Glen Mills', 'Ambler', 'Pennsville',
       'Green Valley', 'Danville', 'Wynnewood', 'Langhorne', 'Lutz',
       'Gloucester City', 'Greenfield', 'Pine Hill', 'Marana',
       'Newtown Square', 'Camby', 'New Britain', 'Flourtown', 'Gretna',
       'Gilbertsville', 'Whitestown', 'Kulpsville', 'Zephyrhills',
       'Springfield', 'Dublin', 'Essington', 'Lumberton', 'Hainesport',
       'Ferguson', 'Brownsburg', 'Chester', 'Safety Harbor', 'Devon',
       'Linfield', 'North Wales', 'Morrisville', 'Sappington', 'Woodlyn',
       'Kirkwood', 'Marrero', 'Westampton', 'Haddon Township',
       'Treasure Island', 'Wyncote', 'Dresher', 'Lambertville', 'Berwyn',
       'Audubon', 'Frazer', 'Speedway', 'Brooklawn', 'Paoli',
       'Bordentown', 'Mount Holly', 'Richboro',
       'Lower Southampton Township', 'Moorestown', 'Madeira Beach',
       'Prospect Park', 'Gallatin', 'Bethalto', 'Kuna', 'South Pasadena',
       'Marlton', 'Delanco', 'Penns Grove', 'Deptford', 'Wenonah',
       'Gulfport', 'Sharon Hill', 'New Hope', 'Blackwood', 'Carpinteria',
       'Elkins Park', 'Turnersville', 'Harahan', 'Saint Ann',
       'Christiana', 'Westmont', 'Richmond Heights', 'Columbia',
       'Noblesville', 'Kimberton', 'Franklinville', 'Swedesboro',
       'Maplewood', 'Bala Cynwyd', 'Hernando Bch', 'Collingswood',
       'Sellersville', 'Verdi', 'Oreland', 'Mount Holly,'], dtype=object)

In [8]:
tf_to_yn=['valet','validated','garage','lot','street','dinner','lunch','brunch','dessert','latenight']

for j in tf_to_yn:
    df[j] = df[j].map({True: 'Yes', False: 'No'})
    

# df['valet'] = df['valet'].map({True: 'Yes', False: 'No'})
# df['validated']=df['validated'].map({True: 'Yes', False: 'No'})
# df['garage']=df['garage'].map({True: 'Yes', False: 'No'})
# df['lot']=df['lot'].map({True: 'Yes', False: 'No'})
# df['street']=df['street'].map({True: 'Yes', False: 'No'})

In [9]:
to_stringify=['RestaurantsTakeOut','RestaurantsDelivery', 'BusinessAcceptsCreditCards', 'RestaurantsReservations',
             'RestaurantsGoodForGroups','HasTV','GoodForKids','BikeParking', 'Caters','WheelchairAccessible']

for i in to_stringify:
    df[i] = df[i].str.strip().map({'True': 'Yes', 'False': 'No', 'None': 'No'})
    df[i] = df[i].replace(['nan', 'NaN'], float('nan')).fillna('No')
    print(df[i].value_counts())

RestaurantsTakeOut
Yes    1627
No      131
Name: count, dtype: int64
RestaurantsDelivery
Yes    1351
No      407
Name: count, dtype: int64
BusinessAcceptsCreditCards
Yes    1420
No      338
Name: count, dtype: int64
RestaurantsReservations
No     1596
Yes     162
Name: count, dtype: int64
RestaurantsGoodForGroups
Yes    974
No     784
Name: count, dtype: int64
HasTV
Yes    1163
No      595
Name: count, dtype: int64
GoodForKids
Yes    1302
No      456
Name: count, dtype: int64
BikeParking
No     1152
Yes     606
Name: count, dtype: int64
Caters
No     1235
Yes     523
Name: count, dtype: int64
WheelchairAccessible
No     1611
Yes     147
Name: count, dtype: int64

In [10]:
pizza_langchain=pd.read_csv('pizza_langchained.csv')

merged_df = pd.merge(df, pizza_langchain, on='business_id', how='left')

merged_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,latenight,lunch,garage,lot,street,valet,validated,Unnamed: 0,text_y,refine
0,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,...,Yes,No,No,Yes,Yes,No,No,1319,Bunch of high school/college kids running the ...,NaN
1,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,2038 N Dale Mabry Hwy,Tampa,FL,33607,27.960514,-82.506127,4.0,35,...,No,Yes,No,Yes,No,No,No,548,Great local pizza with awesome owner and emplo...,NaN
2,anLQj9AM8vjbcLSIE0iUgg,Papa Murphy's,"7250 North La Cholla, Suite 186",Tucson,AZ,85741,32.338572,-111.010760,4.0,22,...,NaN,NaN,No,No,No,No,No,1042,Just tried Papa Murphy's for first time last n...,NaN
3,59jkCUm4yHciKL1KW_1HJA,Roma Pizza & Italian Eatery,1103 Main St,Warrington,PA,18976,40.229527,-75.131090,2.5,25,...,NaN,NaN,No,No,No,No,No,157,"wow good food but lousy service,counter peo...",NaN
4,uyc-S7lauYjzouYQ2TM76A,Papa John's Pizza,9817 W Florissant Ave,Saint Louis,MO,63136,38.746159,-90.279815,2.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1621,Out of town for the month and was craving a pi...,NaN

In [16]:
# merged_df.refine

### these are the important columns


stars_x
RestaurantsTakeOut
RestaurantsDelivery
BusinessAcceptsCreditCards
RestaurantsPriceRange2
RestaurantsReservations
RestaurantsGoodForGroups
HasTV
GoodForKids
valet
RestaurantsAttire
validated
garage
lot
Alcohol

In [17]:
df.to_csv('cleaned_business_reviews.csv')